body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #525252;
  margin: 0;
}

.calculator-container {
  text-align: center;
  max-width: 80%;
  margin: 3vh auto 50px; /* Center vertically with top margin and additional bottom margin */
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



input, select, button {
  margin-top: 10px;
  padding: 10px;
  width: calc(100% - 20px);
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  cursor: pointer;
  color: gold; background-color: black; padding: 10px; text-align: center; border-radius: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #16f802;
  color: rgb(0, 0, 0);
}

#resultContainer {
  text-align: left;
  margin-top: 10px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #16f802;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  max-width: 80%;
}

#stopLoss, #close10Percent, #close80Percent {
  font-weight: bold;
  color: #333;
}
